#bord1 {
    display: inline-block;
    border:3px solid #cccccc;
    text-align:center;
    border-style:outset;
    padding:10px; 
}

#bord2 {
   display: inline-block;
   margin:3px;
   padding:10px;
   box-shadow: 0px 0px 0px 3px #777777;
   border-radius: 15px;
}

#wrapper {
    position: relative;
    z-index: 1;
    padding:10px;
}

    #bord3 {
        position: absolute;
        width: 90px;
        height: 20px;
        text-align:center;
        background: #fff;
        }
    
    #bord3:after {
        position: absolute;
        width: 100px;
        height: 30px;
        content:"";
        background: #777;
        top: -5px;
        left: -5px;
        z-index: -1;
        }

#bord4 {
    display: inline-block;
    text-align:center;
    padding:10px;
    outline: 3px solid#cccccc; 
}

#bord5 {
    display: inline-block;
    border: 50px solid;
    border-image: url(spinv.png) 50 46 50 46 round round; ;
    padding: 12px;
    font-weight: bold;
    background-color: #f6f6f6;
}