@font-face {
  font-family: Eicons; /* Имя шрифта */
  src: url(images/eicons.ttf); /* Путь к файлу со шрифтом */
 }

 @media all and (min-width: 1024px) {

.container {
 min-width: 1024px;
 max-width: 2560px;
 min-height: 1024px;
 flex-basis: auto;
 flex-grow: 1;
 display: flex;
 flex-flow: column nowrap;
 font-family: Geneva, Arial, Helvetica, sans-serif;
}

#header {
 width: 100%;
 display: flex;
 justify-content: space-around;
 align-content: center;
 align-items: flex-end;

}

#menumob {
  display: none;
}

#geo, #logo {
 position: relative;
  align-self: flex-end;
  flex: 0 1 100px;
  padding-bottom: 2vh;
  justify-content: space-around;
  display: flex;
  flex-flow: column nowrap;
 justify-self: center;
 color: #000000b0
}

#icons div, #icons span {
 align-self: flex-end;
}

#icons span {
  color: #00000060;
  font-weight: 100;
}

#icons {
  display: flex;
  justify-content: space-around;
  height: 60px;
  font-size: 1.5rem;
  color: #000000c0
}

#icons div {
  font-family: Eicons;
  font-size: 2.5rem
}

#icons div:hover {
  color: #4ae7e7;
  text-shadow: 4px 4px 6px #cccccc;
}


#bubble {
position: relative;
width: 195px;
height: 25px;
padding: 0px;
background: #FFFFFF;
border-radius: 13px;
border: #7F7F7F solid 1px;
text-align: center;
color: #00000060;
font-weight: 100;
opacity: 0.0;
}

#bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 11px 18px 0;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;
bottom: -11px;
left: 79px;
}

#bubble:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 11px 18px 0;
border-color: #7F7F7F transparent;
display: block;
width: 0;
z-index: 0;
bottom: -12px;
left: 79px;
}

#menu {
width: 100%;
height: 60px;
 display: flex;
 justify-content: center;
 align-content: center;
 align-items: flex-start;
 border-top: 1px solid #cccccc80;
}
 

.menu-item-wrap {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  text-align: center;
  border-left: 1px solid #cccccc80;
  padding-left: 2vh;
  padding-right: 2vh;
  padding-top: 3vh;
  max-width: 300px;
  min-width: 40px;
  font-weight: bolder;
  color: #000000b0
}

.menu-item-wrap:first-child {
  border-left:hidden;
}

.menu-item a {
text-decoration: none;
}

.nav-item {
  align-self: center;
    width: 0; 
    height: 0; 
    
    border-left: 20px solid transparent;
    border-right: 20px solid transparent; 
    border-bottom: 20px solid #3182C1;
    opacity: 0.0;
}


.menu-item:hover ~ .nav-item {
  opacity: 1.0;
}

.search-item {
  display: flex;
  justify-content: center;
  padding: 1em;
}

#search-icon {
  font-family: Eicons;
  font-size: 1.8em;
}

input {
  border-style:none;
  padding-left:0.5em;
}

.search-item div {
  align-self: center;
}

#main {
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  background-image: url("images/img.png");
  height: 100%;
  background-repeat:no-repeat;
  background-position:50% 50%;
  padding-bottom: 56.25%; 
  background-size:cover;
  
}

#tagline1, #tagline2 {
  width:100%;
}

#tagline1 div {
  position: absolute;
  font-size: 3.5vw;
  color: #FFFFFF;
  font-weight: bolder;
  text-shadow: 1px 2px 3px #cccccc;
  z-index: 10;
  top: 29%;
  left: 26%; 
  }
 
  #tagline2 div {
    position: absolute;
    font-size: 3vw;
    color: #c7e1f5;
    text-shadow: 1px 1px 2px #cccccc;
    top: 35%;
    left: 30.5%; 
  }
  

#tagline2 span {
  position: absolute;
  top: -2.3vw;
  left:-4.5vw;
  font-size: 5.5vw;
  font-weight: bolder;
  color: #8bbfe7;
  text-shadow: 1px 2px 2px #cccccc;
}

.carousel-wrapper {
  position: absolute;
  top: 61%;
  left: 36%; 	
  height:14.54vw;
	width:45vw;	
}
 
  .carousel-wrapper .carousel-item .arrow {
    position: absolute;
    height:14.54vw;
    width:5vw;
    margin-left: 40vw;
    background: url("images/arrow.png");
    background-repeat:no-repeat;
    background-position:50% 50%;
    background-color: #FFFFFF;
    opacity: 0.6;
  }

  .carousel-wrapper .item-1 {
    position: absolute;
  height: 100%;
  width:40vw;
    background-image: url("images/item1.png");
    background-repeat:no-repeat;
    background-position:50% 50%;
    background-size: cover; 
    z-index: 1;
  }

  .carousel-wrapper .item-2 {
    position: absolute;
  height: 100%;
  width:40vw;
    background-image: url("images/item2.png");
    background-repeat:no-repeat;
    background-position:50% 50%;
    background-size: cover;

  }

  .carousel-wrapper .item-3 {
    position: absolute;
  height: 100%;
  width:40vw;
    background-image: url("images/item3.png");
    background-repeat:no-repeat;
    background-position:50% 50%;
    background-size: cover;
  }

.like{
  display: flex;
  justify-content: center;
  margin-top: 11.5vw;
  height: 3.1vw;
  width:40vw;
  background: linear-gradient(#fff, #eee,#ccc, #ddd ); 
  transition: background 1s ease-out;
  opacity: 0.7;
}

.likesymbol {
  align-self: center;
  font-family: Eicons;
  font-size: 1.4rem;
}

.like p {
  min-width: 15vw;
}

.likesymbol:hover {
  font-size: 1.9rem;
  text-shadow: 4px 4px 5px #444444;
  transition: all 0.2s linear; 
}

.liketext {
  align-self: center;
  font-size: 0.7rem;
  border: 1px, solid, #000000c0
}

.carousel-wrapper [href] {
  opacity:0;
}

.carousel-wrapper .item-1 > .arrow {
  z-index: 2;
  opacity: 1;
}

*:target ~ .item-1 {
  opacity: 0;
}

#target-item-1:target ~ .item-1 {
  opacity: 1;
}

#target-item-2:target ~ .item-2, #target-item-3:target ~ .item-3 {
  z-index: 3;
  opacity: 1;
}


.row-articles {
display: flex;
 justify-content: center;
 align-items: baseline;
 width: 100%;
}

.article{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  
}

.article .art-pic{
  margin: 10px;
}

.article .art-text{
  margin: 10px;
  max-width: 320px;
}
}

@media all and (max-width: 1024px) {

  .container {
    min-width: 768px;
    max-width: 1024px;
    min-height: 768px;
    flex-basis: auto;
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
   }

   
   #header #geo {
    display: none;
   }
   #menu .menu-item-wrap {
     display: none;
}
#main .carousel-wrapper {
  display: none;
}
#header {
  display: flex;
  flex-flow: wrap;
}
#menumob {
  font-family: Eicons;
  font-size: 4rem;
  color: #3182C1;
}

.search-item {
  display: flex;
  flex-flow: wrap;
  padding-bottom: 3vh;
}
#main {
  display: flex;
  position: relative;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-image: url("images/img.png");
  background-position:50% 50%;
  background-clip: border-box;
  background-size: cover;
  padding-bottom: 56.25%;
}

#search-icon {
  font-family: Eicons;
  font-size: 1.8em;
}

input {
  border-style:none;
  padding-left:0.5em;
}

.search-item div {
  align-self: center;
}

#tagline1, #tagline2 {
  width:100%;
}

#tagline1 div {
  position: absolute;
  font-size: 3.5vw;
  color: #FFFFFF;
  font-weight: bolder;
  text-shadow: 1px 2px 3px #cccccc;
  z-index: 10;
  top: 29%;
  left: 26%; 
  }
 
  #tagline2 div {
    position: absolute;
    font-size: 3vw;
    color: #c7e1f5;
    text-shadow: 1px 1px 2px #cccccc;
    top: 35%;
    left: 30.5%; 
  }
  

#tagline2 span {
  position: absolute;
  top: -2.3vw;
  left:-4.5vw;
  font-size: 5.5vw;
  font-weight: bolder;
  color: #8bbfe7;
  text-shadow: 1px 2px 2px #cccccc;
}

.row-articles {
  display: flex;
   justify-content: center;
   align-items: baseline;
   flex-flow: column nowrap;
   align-items: center;
   width: 100%;
  }
  
  .article{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
  }
  
  .article .art-pic{
    margin: 10px;
  }
  
  .article .art-text{
    margin: 10px;
    max-width: 480px;
  }

}

@media all and (max-width: 768px) { 

  .container {
    min-width: 480px;
    max-width: 768px;
    flex-basis: auto;
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    align-items: flex-start;
   }

   .article .art-text{
    margin: 10px;
    max-width: 220px;
  }

}